    <footer>
        <p>&copy; 2024 Orçamento de Serviços de Eletrônica</p>
        <ul>
            <li><a href="#">Termos de Serviço</a></li>
            <li><a href="#">Política de Privacidade</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </footer>