<div class="modal fade" id="modalForm" tabindex="-1" data-bs-backdrop="static" aria-labelledby="Formulário de edição do bairro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="frmEdicao" tag="Bairro" action="/Lista/Bairro/add" method="POST" class="needs-validation">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModalForm">Novo</h1>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="idBairro" id="idBairro" />
                    <input type="hidden" name="hdCidade" id="hdCidade" />
                    <input type="hidden" name="hdEstado" id="hdEstado" />
                    <label class="form-label" for="txtNomeBairro">Bairro</label>
                    <input type="text" name="txtNomeBairro" class="form-control" id="txtNomeBairro" required />
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Fechar">Fechar</button>
                    <button type="submit" class="btn btn-primary" aria-label="Salvar">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>