<div class="modal fade" id="modalForm" tabindex="-1" data-bs-backdrop="static" aria-labelledby="Formulário de edição do estado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="frmEdicao" tag="Estado" action="/Lista/Estado/add" method="POST" class="needs-validation">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="tituloModalForm">Novo</h1>
                    <button type="reset" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="idEstado" id="idEstado" />
                    <label class="form-label" for="txtNomeEstado">Estado</label>
                    <input type="text" name="txtNomeEstado" class="form-control" id="txtNomeEstado" required />

                    <label class="form-label" for="txtSiglaEstado">Sigla</label>
                    <input type="text" name="txtSiglaEstado" class="form-control" id="txtSiglaEstado" maxlength="2"  oninvalid="this.setCustomValidity('Sigla deve possuir 2 caracteres')" required />
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Fechar">Fechar</button>
                    <button type="submit" class="btn btn-primary" aria-label="Salvar">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>