{{#if Log}}
    <div class='alert alert-success alert-dismissible' role='alert'>
        <div>{{Log}}</div>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
{{/if}}

{{#if Erro}}
    <div class='alert alert-danger alert-dismissible' role='alert'>
        <div>{{Erro}}</div>
        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
{{/if}}