<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/style/bootstrap.min.css" />
        <link rel="stylesheet" href="/style/bootstrap-icons.min.css" />
        <link rel="stylesheet" href="/style/style.css" />
        <script src="/scripts/popper.min.js"></script>
        <script src="/scripts/bootstrap.min.js"></script>
        <script src="/scripts/scripts.js"></script>
        <title>Controle de Orçamento</title>
    </head>
    <body>
        {{> __nav}}
        <div class="container mt-4">
            <div class="container" id="pnAlert">{{>__msg}}</div>
            {{{body}}}
        </div>
    </body>
</html>